  <div class="title-art">
    ██████╗ ██████╗  ██████╗  ██████╗  ██████╗<br>
    ██╔══██╗██╔══██╗██╔════╝  ██╔══██╗██╔════╝<br>
    ██████╔╝██████╔╝██║  ███╗ ██████╔╝██║  ███╗<br>
    ██╔══██╗██╔═══╝ ██║   ██║ ██╔══██╗██║   ██║<br>
    ██║  ██║██║     ╚██████╔╝ ██║  ██║╚██████╔╝<br>
    ╚═╝  ╚═╝╚═╝      ╚═════╝  ╚═╝  ╚═╝ ╚═════╝
  </div>
  <p class="title-sub">Chronicles of the Shattered Realm</p>
  <p class="title-dim">A text-based RPG adventure</p>
  <div class="spacer"></div>
  <form method="post" action="/action">
    <button class="btn-cyan btn-center" name="action" value="new_game">⚔&nbsp;&nbsp;NEW GAME</button>
  </form>
